.intro {
	background-color: rgba(255,255,255,0.2);
	border-radius: 10px;
	display: inline-block;
	height: 5em;
}

.intro img {
	vertical-align: middle;
	display: inline-block;
	padding: 0 .2em;
}

.abertura img{
	width: 20%;
	padding-left: 2em;
}

.abertura img:nth-child(2) {
	width:36%
}

.sobre:first-child {
	width: 50%;
	float: left;
}

.sobre img {
	width: 300px;
	height: 300px;
}

.reveal img, .reveal video, .reveal iframe {
	max-width: 100%;
}

.ferramentas h2 {
	display: inline-block;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,.3);
	border-radius: 5px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.vraptor {
	background: url("../img/vraptor-logo.png");
	width: 245px;
	height: 71px;
	right: 4em;
	top: -3em;
}

.nginx {
	background: url("../img/nginx.jpg");
	width: 245px;
	height: 53px;
	left: -1em;
	top: 4em;
}

.git {
	background: url("../img/github-logo.png");
	width: 253px;
	height: 100px;
	right: -1em;
	top: -2em;
}

.maven {
	background: url("../img/maven-logo.png");
	width: 300px;
	height: 70px;
	left: 2em;
	top: 1em;
}

.hibernate {
	background: url("../img/hibernate-logo.jpg");
	width: 251px;
	height: 70px;
	right: 2em;
	top: 0;
}

.jetty {
	background: url("../img/jetty.png");
	width: 237px;
	height: 70px;
	left: -1em;
	top: -1em;
}

.amazon {
	background: url("../img/amazon-logo.png");
	width: 225px;
	height: 87px;
	right: -1em;
	top: 2em;
}

.jenkins {
	background: url("../img/jenkins-logo.png");
	width: 299px;
	height: 97px;
	left: 5em;
	top: 3em;
}

.reveal .texto-imagem {
	color:#222; 
	text-shadow: 1px 1px 10px #555;
}

.reveal .slide-background.present {
	-webkit-filter: blur(2px);
}

.dicas:before {
	content: "DICA";
	background-color: #A00;
	position: absolute;
	top: 6%;
	right: -5%;
	color: #fff;
	font-size: 2em;
	padding: 0.2em 3em;
	-webkit-transform: rotate(45deg);
	text-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
}

.experiencia:before {
	content: "EXPERIENCIA";
	background-color: #007bff;
	position: absolute;
	top: 10%;
	right: -8%;
	color: #fff;
	font-size: 2em;
	padding: 0.2em 3em;
	-webkit-transform: rotate(45deg);
	text-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
}