.abertura img{
	width: 20%;
	padding-left: 2em;
}

.abertura img:nth-child(2) {
	width:36%
}

.sobre:first-child {
	width: 50%;
	float: left;
}

.sobre img {
	width: 300px;
	height: 300px;
}

.reveal img, .reveal video, .reveal iframe {
	max-width: 100%;
}

.ferramentas h2:after {
	content: "";
	display: inline-block;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,.3);
	border-radius: 5px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.vraptor:after {
	background: url("../img/vraptor-logo.png");
	width: 245px;
	height: 71px;
	right: 5%;
}

.git:after {
	background: url("../img/github-logo.png");
	width: 99px;
	height: 100px;
	left: 9%;
	top: 10%;
}

.amazon:after {
	background: url("../img/amazon-logo.png");
	width: 192px;
	height: 75px;
	right: -10%;
	bottom: 9%;
}

.jenkins:after {
	background: url("../img/jenkins-logo.png");
	width: 99px;
	height: 156px;
	left: 0;
	top: 50%;
}

.reveal .texto-imagem {
	color:#222; 
	text-shadow: 1px 1px 10px #555;
}

.reveal .slide-background.present {
	-webkit-filter: blur(2px);
}

.dicas:before {
	content: "DICA";
	background-color: #A00;
	position: absolute;
	top: 6%;
	right: -5%;
	color: #fff;
	font-size: 2em;
	padding: 0.2em 3em;
	-webkit-transform: rotate(45deg);
	text-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
}
